body{
   box-sizing: border-box;
   background: $default;
   padding: 0;
   margin: 0;
}
*, 
*:after ,
 *:before{
  box-sizing: inherit;
}

a{
    color :$black;
    text-decoration: none;
}
// a:hover {
// //  text-decoration: underline ;
// }
ol, ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
p{
  margin: 0;
}
form{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}