// clases and ...
//  container main ...
// after : before || visually display..
.btn-pe{ 
    background: $yellow;
    color: $black; 
}
.btn-ing{
    background:$black ;
    color: $white;
}
.bg-form{
    
    background: var(--bg-formulario);
}
.bg-dark{
    background: $dark;
}
.bg-secondary{
    background: $secondary;
}
.bg-primary{
    background: $primary;
}
.bg-yellow{
    background: $yellow;
}
